
/* css file for the poster page. This uses a different css file as I want the poster styling to be different to the main website styling*/
body {
    font-family: Tahoma, Verdana, sans-serif;
    background-color: azure;
    margin-top: 20px ; 
    margin-bottom: 20px; 
    margin-left: 50px;
    margin-right: 50p;
}

.features_list {
    list-style-type: square;
}

h1 {
    text-align: center;
    color: black;
}

.creditlink {
    font-size: 3;
}