{% extends "base.html" %}

{% block content %}

  <h1>Make buggy</h1>

  <form action="/new" method="post">
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" value={{ buggy['qty_wheels'] }}/>
    <label for="tyre">type of wheel:</label>
    <input type="text" name="tyre" value={{ buggy['tyre'] }}/>
    <br><br>

    <label for="flag_color">Primary flag color:</label>
    <input type="text" name="flag_color" value={{ buggy['flag_color'] }}/>
    <label for="flag_color_secondary">Secondary flag color:</label>
    <input type="text" name="flag_color_secondary" />
    <label for="flag_pattern">flag pattern:</label>
    <input type="text" name="flag_pattern" />
    
    <br>
    <input type="submit" class="button">
  </form>

  <p>
    <a href="/" class="button">home</a>
  </p>

{% endblock %}
