{% extends "base.html" %}

{% block content %}
  
  {%if buggy['id']%}
    <h1>Editing buggy #{{ buggy['id']}} </h1>
  {%else%}
    <h1>Make buggy</h1>
  {%endif%}

  <!-- <div id="buggy_select"> --> <!-- div where the dropdown menu to select the buggy is contained --> 
  <!--</div>-->
  <!--
  <select name="buggy_select" id="buggy_select" >
  <option value="new">New</option>
  {% for id in buggy %}
    <option value={{buggy.id}}>{{ buggy.id }}</option>
  {% endfor %}
  </select> -->
  <p> {{ msg }} </p>

  <form action="/new" method="post" id="buggy_form">
    <input type="hidden" name="id" value="{{ buggy['id'] }}"/>   
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" value="{{ buggy['qty_wheels'] }}"/>
    <label for="tyre">type of wheel:</label>
    <input type="text" name="tyre" value="{{ buggy['tyres'] }}"/>
    <br><br>

    <label for="flag_color">Primary flag color:</label>
    <input type="text" name="flag_color" value="{{ buggy['flag_color'] }}"/>
    <label for="flag_color_secondary">Secondary flag color:</label>
    <input type="text" name="flag_color_secondary" value="{{ buggy['flag_color_secondary'] }}"/>
    <label for="flag_pattern">flag pattern:</label>
    <input type="text" name="flag_pattern" value="{{ buggy['flag_pattern'] }}"/>
    
    <br>
    <input type="submit" class="button">
  </form>
  <button class="button" onclick="autofill()">autofill</button>


  <p>
    <a href="/" class="button">home</a>
  </p>

{% endblock %}
