{% extends "base.html" %}

{% block content %}
    <head>
        <meta charset="utf-8" />
        <link href="static/app.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
    </head>

    <h1>Info page</h1>
    <br>

    <a href="https://rhul.buggyrace.net/specs/" class="button">link to website with buggy specifications and rules</a>
    <br><br><br>
    <a href="/" class="button">return home</a>
    <br><br><br>
    
    <p>
        {{ power }}
    </p>
  

{% endblock %}