<!DOCTYPE html>

<html>
    <head>
      <meta charset="utf-8" />
      <link href="static/poster.css?{{ range(1,9999)|random}}" media="screen, projector, print" rel="stylesheet" type="text/css" />
      <script type="text/javascript" src="static/script.js?{{ range(1,9999)|random}}"></script>
    </head>


    <body>
        <div class="main-content">
            <h1>What is my buggy editor</h1>
            <h2>Features</h2>

            <div class="features_list">
                <ul>
                    <li>Creating buggies:</li>
                    <ul>
                        <li>You can create multiple buggies</li>
                    </ul>
                </ul>
            </div>
        </div>
    </body>

</html>

